<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trove is...</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="row0 col-md-offset-2 col-md-8">
          <h1>Trove is...</h1>
        </div>
        <div class="col-md-offset-2 col-md-8">
          {% for zone in zones %}
            
            <div class="row row{{ loop.index }}" >
              <div class="col-md-6">
                <h2>{{ zone.total }}</h2>
                <p class="zone-label">{{ zone.label }}</p>
              </div>
              <div class="col-md-6" id="{{ zone.name }}">
              {% if zone.image_url %}
                <div class="row">
                  <div class="col-md-6">
                    <a href="{{ zone.url }}" class="thumbnail">
                      <img src="{{ zone.image_url }}" alt="...">
                    </a>
                  </div>
                  <div class="col-md-6">
                    <p>{{ zone.title }}</p>
                    {% if zone.citation %}
                    <p class="citation">
                      {{ zone.citation|safe }}
                    </p>
                    {% endif %}
                    <a class="zone-link" href="{{ zone.url }}">
                      <i class="fa fa-arrow-circle-right fa-5x pull-right"></i>
                    </a>
                  </div>
                </div>
              {% else %}
                {% if zone.title %}
                  <p>{{ zone.title }}</p>
                {% endif %}
                {% if zone.citation %}
                <p class="citation">
                  {{ zone.citation|safe }}
                </p>
                {% endif %}
                <a class="zone-link" href="{{ zone.url }}">
                  <i class="fa fa-arrow-circle-right fa-5x pull-right"></i>
                </a>
              {% endif %}
              </div>
            </div>
            
          {% endfor %}

        </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.loadTemplate.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>