<div class="row">
  <div class="col-sm-6">
    <a data-template-bind='[{"attribute": "href", "value": "url"}]' class="thumbnail">
      <img data-src="img_url" alt="..." onerror="this.parentNode.style.display = 'none'">
    </a>
  </div>
  <div class="col-sm-6 ">
    <p data-content="title" ></p>
    <p data-content="citation" class="citation"></p>
    <a class="zone-link" data-template-bind='[{"attribute": "href", "value": "url"}]'>
      <i class="fa fa-arrow-circle-right fa-5x pull-right"></i>
    </a>
  </div>
</div>